# conda install -c skmad simpleaudio
# conda install scikit-image 
# conda install -c huggingface transformers
# conda install -c intel scikit-learn 
# cd monotonic_align; python setup.py build_ext --inplace
# conda install -c anaconda cython  
# pip install phonemizer   
# conda install -c conda-forge unidecode 
# conda install scipy  
# pip install wavio  
# pip install opencv-python   


attrs==21.4.0
boto3 @ file:///tmp/build/80754af9/boto3_1603222673683/work
botocore @ file:///tmp/build/80754af9/botocore_1603297996270/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///opt/concourse/worker/volumes/live/e2eb91c2-780d-4f74-545d-c2827857ffe3/volume/cffi_1600699193708/work
chardet==3.0.4
click==7.1.2
clip @ git+https://github.com/openai/CLIP.git@40f5484c1c74edd83cb9cf687c6ab92b28d8b656
clldutils==3.10.1
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorlog==6.6.0
cryptography @ file:///opt/concourse/worker/volumes/live/c92b6573-5445-4a21-4a76-9af93cc67a5e/volume/cryptography_1601046836410/work
csvw==2.0.0
cycler==0.10.0
Cython @ file:///opt/concourse/worker/volumes/live/f09f0c71-94c5-4fae-40fc-3cdf6c47ddcc/volume/cython_1594833991083/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
dataclasses==0.7
decorator==4.4.2
dlinfo==1.2.1
docutils==0.15.2
filelock==3.0.12
ftfy==6.0.3
huggingface-hub==0.0.17
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
isodate==0.6.1
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
kiwisolver==1.2.0
matplotlib @ file:///opt/concourse/worker/volumes/live/913fefa9-eb28-4491-4c8e-564f316c530a/volume/matplotlib-base_1597876351804/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
numpy @ file:///opt/concourse/worker/volumes/live/3f9886a9-9d2f-4d0a-7e31-acf5536b90f1/volume/numpy_and_numpy_base_1596234665264/work
olefile==0.46
opencv-python==4.5.5.62
packaging==20.4
phonemizer==3.0.1
Pillow @ file:///opt/concourse/worker/volumes/live/e393590e-6fac-4044-5f7f-24de3efceff1/volume/pillow_1602788693621/work
protobuf==3.13.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
PyWavelets @ file:///opt/concourse/worker/volumes/live/7b9ed5cc-fdd2-4389-679d-2674cfabb40a/volume/pywavelets_1601658333093/work
PyYAML==5.3.1
regex==2022.1.18
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
rfc3986==1.5.0
s3transfer==0.3.3
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1636276757411/work
scikit-image==0.17.2
scikit-learn==0.20.0
scipy @ file:///opt/concourse/worker/volumes/live/d2cc8ac1-8922-48bc-7969-1f576a9f572d/volume/scipy_1597686637832/work
segments==2.2.0
simpleaudio==1.0.2
six==1.15.0
tabulate==0.8.9
tifffile==2020.10.1
tokenizers==0.10.3
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
transformers==4.11.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1645371071762/work
uritemplate==4.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wavio==0.0.4
wcwidth==0.2.5
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
