{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<div class="container">
  <div class="row mt-4">
    {% for image in image_caption %}
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="/static/{{image[0]}}" alt="caption">
        <div class="card-body">
          <h5 class="card-title">caption predicted : </h5>
          <p class="card-text">{{image[1]}}</p>
        </div>
        <div>
          <audio controls>
            <source src="/static/{{image[2]}}"type="audio/wav" style="width: 600px;">
          </audio>
        </div>
      </div>
    </div> 
  {% endfor %}
  </div>
</div>

{% endblock %}